{% extends 'home/user/userBase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title></title>
    <style>
        .form {
            margin-left: 25%;
            margin-top: 5%;
            margin-right: 25%;
            width: 50%;

        }
    </style>
</head>
<body>

<form class="form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" {% if content.last_name %}
               value="{{ content.last_name }}" {% endif %}
               placeholder="Enter Password"/>
    </div>
    <div class="form-group">
        <label>Re-Enter Password</label>
        <input type="password" name="retupepassword" class="form-control"
               placeholder="Re-Enter Password"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>